@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    /* <Card /> */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    /* <Dropdown />, <HoverCard />, <Popover /> */
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    /* Primary colors for <Button /> and <CTA /> */
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    /* Secondary colors for <Button /> and <CTA /> */
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    /* <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    /* For accents such as hover effects on <Dropdown />, <SelectItem />...etc */
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    /* For destructive actions such as delete on <Button variant="destructive" /> */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%; /* Default border color */
    --input: 0 0% 89.8%; /* Border color for inputs. <Input />, <Select /> and <Textarea /> */
    --ring: 0 0% 3.9%; /* For focus ring */

    --radius: 0.5rem; /* Border radius for <Card />, <Input />, <Button />...etc */
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
   }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
