.bg-gradient-app {
  @apply dark:bg-slate-900 dark:text-white bg-gradient-to-br from-indigo-50 via-white to-yellow-100 dark:from-indigo-800 dark:to-yellow-700;
}

.bg-gradient-button {
  @apply dark:bg-slate-900 dark:text-white text-white bg-gradient-to-br from-blue-600 via-blue-700 to-indigo-800 dark:from-blue-800 dark:to-indigo-600 dark:via-indigo-500;
}

.bg-gradient-primary {
  @apply bg-gradient-to-br from-white to-neutral-50 dark:from-neutral-800 dark:to-neutral-700 dark:bg-slate-900 dark:text-white;
}

.text-gradient {
  @apply bg-clip-text text-transparent; 
}

.text-gradient-primary {
  @apply bg-gradient-to-br from-emerald-500 to-emerald-700 dark:from-emerald-100 dark:to-emerald-200 text-gradient;
}

.text-gradient-secondary {
  @apply bg-gradient-to-br from-indigo-600 to-purple-700 dark:from-indigo-100 dark:to-purple-200 text-gradient;
}

.text-gradient-sand {
  @apply bg-gradient-to-br from-black to-stone-500 dark:from-stone-100 dark:to-yellow-200 text-gradient;
}

.text-gradient-pooltogether {
  @apply bg-gradient-to-r from-indigo-800 to-purple-800 dark:from-indigo-600 dark:to-purple-500 text-gradient;
}

.bg-gradient-pooltogether {
  @apply bg-gradient-to-r from-indigo-800 to-purple-800 dark:from-indigo-600 dark:to-purple-500;
}

.text-gradient-pooltogether-link {
  @apply text-purple-800 dark:text-purple-500;
}